body {
    background-color: grey;
    font-size: 24px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face{
	font-family: 'digital-font-clock';
	src: url('../public/digital-7/digital-7.ttf');
}

#text {
    font-size: 16px;
    font-family: 'Courier New' , 'Comic Sans';
}

@keyframes home {
    0% {background-color : grey;
        color: green;
    }
    100% {background-color: green;
        color: grey;
    }
}

#pages:hover {
    animation: forwards;
    animation-name: home;
    animation-duration: 0.5s;
}
